.cards{
    padding: 20px;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-around;
}

.card{
    min-width: 200px;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    box-shadow: 0 5px 10px 10px rgba(187, 202, 216, 0.473);
    margin-bottom: 10px;
}

#active{
    color: red;
    border-top: 10px solid red;
}

#death{
    border-top: 10px solid gray;
    color: gray;
}

#discharged{
    border-top: 10px solid rgb(20, 160, 20);
    color: rgb(20, 160, 20);
}

.inline{
    display: inline;
}

@media only screen and (max-width: 768px) {

    .cards{
        flex-direction: column;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
} 









h1, p {
    font-family: Lato;
  }
  
  .loader,
  .loader:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
  }
  .loader {
    margin: 60px auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 1.1em solid #e7e7e7;
    border-right: 1.1em solid #e7e7e7;
    border-bottom: 1.1em solid #e7e7e7;
    border-left: 1.1em solid #14123C;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
  }
  
  @-webkit-keyframes load8 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes load8 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  